
<div class="game-container">
    <div class="ranking-container">
        <h2 class="ranking-title">Game Over!</h2>
        <div class="ranking-display-left">
            {{#each firstTable}}
                <li class="ranking-item">{{this.score}} - {{this.player}}</li>
            {{/each}}
        </div>
        <div class="ranking-display-right">
            {{#each secondTable}}
                <li class="ranking-item">{{this.score}} - {{this.player}}</li>
            {{/each}}
        </div>
        <div class="ranking-play">
            <input class="play-again" value="/play{{paramString}}" hidden>
            <form action="/play" method="GET">
                <input type="text" name="explorer" value="{{explorer}}" hidden>
                <input type="text" name="soundOn" value="{{soundOn}}" class="sound-on-form" hidden>
                <input class="form-button" value="Play again!" type="submit">
            </form>
        </div>
    </div>

    {{>commandsInactive}}
</div>

<audio class="music" {{#if soundOn}}autoplay{{/if}} loop>
    <source src="/sound/20 - Game Over.ogg">
</audio>

<script src="/playagain.js"></script>